.site-footer {

  .p1 {
    margin-bottom: 0;
  }

  .menu-item {
    display: block;
    font-weight: 700;
    line-height: 2rem;
  }

  .some-icon:hover {
    transition: all .2s;
    transition-timing-function: ease-in-out;
    fill: $white;
  }
}

#menu-footer-menu a {
  color: $secondary-color;
  font-size: 1.2rem;
}

#menu-footer-menu a:hover {
  text-decoration: none;
  color: $white;
}

#menu-footer-menu a:focus {
  outline: none;
}