// *************
// Global Styles
// *************
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-decoration-none:hover {
  text-decoration: none;
}

.image-width {
  width: 100%;
}

.gutter {
  padding-left: 8.82rem;
  padding-right: 8.82rem;

  @include media-breakpoint-down(md) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.text-bold {
  font-weight: bold;
}

.bg-gray-100 {
  background-color: $gray-100;
}

